.App {
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.username {
  margin-bottom: 10pt;
}

.submit {
  margin-top: 10pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot {
  margin-top: 10pt;
}